            <form action="./calculationapp/output" method="get">
                <h3>Please Perform Arithmetic Operation</h3>
                {% csrf_token %}
                Enter 1 Number<input type="text" name="t1"><br>
                Enter 2 Number<input type="text" name="t2"><br>
                    <input type="submit" value="add" name="but">
                    <input type="submit" value="sub" name="but">
                    <input type="submit" value="mul" name="but">
                    <input type="submit" value="div" name="but">
            </form>
